<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zednull.studrasp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">
        <activity
            android:name="com.zednull.studrasp.AddTableActivity"
            android:exported="true"
            android:theme="@style/Theme.TimeTable">

        </activity>
        <activity
            android:name="com.zednull.studrasp.AccountActivity"
            android:exported="true"
            android:label="@string/title_activity_account"
            android:theme="@style/Theme.TimeTable" />

        <activity
            android:name="com.zednull.studrasp.LaunchActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.SplashTheme">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.zednull.studrasp.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.TimeTable" >

            <intent-filter>
                <!-- needed for properly formatted email messages -->
                <data
                    android:scheme="content"
                    android:mimeType="*/*"
                    android:pathPattern=".*\\.studrasp" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>

            <!-- Register to handle file opening -->
            <intent-filter>
                <data android:scheme="file"
                    android:mimeType="*/*"
                    android:pathPattern=".*\\.studrasp"
                    android:host="*"/>

                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>

        </activity>
        <activity
            android:name="com.zednull.studrasp.LoadTimeTableActivity"
            android:exported="true"
            android:theme="@style/Theme.TimeTable" />
        <activity
            android:name="com.zednull.studrasp.LoadListOfPartsActivity"
            android:exported="true"
            android:theme="@style/Theme.TimeTable" />
        <activity
            android:name="com.zednull.studrasp.RegistrationActivity"
            android:exported="true"
            android:theme="@style/Theme.TimeTable" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
    </application>

</manifest>